{% extends 'frames/marketing.twig' %}

{% block body %}

	<div class="record-job row headerpad">
		<div class="row-content buffer">

			{# Taxonomy-based tags #}
			{# {% if job.taxonomy %}
				{% if job.taxonomy.tags %}
					<p>Tags: 
						{% for link, value in job.taxonomy.tags %}
							<a href="{{ link }}">{{ value }}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}
					</p>
				{% endif %}
			{% endif %} #}

			<div class="layout-customcontent layout-customcontent-wide">
				<div class="layout-customcontent-section">

					<h4 class="reset-bottom"><a href="{{ paths.root }}careers">Careers at Omniata</a></h4>

					<h1 class="reset-top">{{ job.title }}</h1>

					{% if job.intro %}
						<div class="layout-customcontent-intro">
							{{ job.intro }}
						</div>
					{% endif %}

					{% if job.body %}
						{{ job.body }}
					{% endif %}

					<h2>Apply Now</h2>

					<p>Something about how to apply. Maybe apply via LinkedIn?</p>

					<p><a href="" class="button align-center round blue">careers@omniata.com</a></p>

					<p>Or share to contacts...</p>

					{% include 'partials/sharebuttons.twig' with {
						iconsonly: true,
						twitterhandle: person.twitter,
						title: job.title,
						summary: job.teaser
					} %}

				</div>
			</div>

		</div>
	</div>

{% endblock %}


