{% extends 'twig/layouts/full.twig' %}

{% block body %}

	{# Fetch content #}
	{% setcontent people = 'people' %}

	{# Print #}
	<div class="row">
		<div class="row-content buffer">

			{% for record in records %}

				{% if record.author %}
					{% set person = people[record.author] %}
				{% endif %}

				<div class="no-rhythm">

					<!-- Post extract -->
					<a href="{{ record.link }}" class="plain block">

						{% if person %}
						<div class="column fluid right">
							<div class="column-content">
						{% endif %}

								<!-- Post details -->
								<ul class="plain collapse tight-rhythm">
									{% if person %}
										<li><h4>{{ person.title }}</h4></li>
									{% endif %}
									<li class="date">{{ record.datepublish|localdate }}</li>
								</ul>
								<div class="clear"></div>

								<h2>{{ record.title }}</h2>
								<p>{{ record.excerpt(300) }}</p>

						{% if person %}
							</div>
						</div>

						{# Author avatar #}
						<div class="column fixed right">
							<div class="relative">
								<img class="avatar transition block" src="{{ thumbnail(person.portrait, 300, 300) }}" alt="{{ person.title }}" title="{{ person.title }}">
							</div>
						</div>
						{% endif %}

						<div class="clear"></div>
					</a>

				</div>

			{% endfor %}

			{{ pager() }}

		</div>
	</div>

{% endblock %}
