{% extends 'frames/marketing.twig' %}

{% block body %}

	{# Fetch content #}
	{% setcontent people = 'people' %}
	{% set person = people[record.author] %}

	<div class="row">
		<div class="row-content buffer">

			{# Taxonomy-based tags #}
			{# {% if record.taxonomy %}
				{% if record.taxonomy.tags %}
					<p>Tags: 
						{% for link, value in record.taxonomy.tags %}
							<a href="{{ link }}">{{ value }}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}
					</p>
				{% endif %}
			{% endif %} #}

			<div class="layout-customcontent layout-customcontent-wide">
				<div class="layout-customcontent-section">

					<ul class="inline plain">
						{% if person %}
							<li><a href="{{ person.link }}" class="plain"><img src="{{ thumbnail(person.portrait, 80, 80) }}" class="avatar" alt="{{ person.title }}" title="{{ person.title }}">{{ person.title }}</a></li>
						{% endif %}
						<li>{{ record.datepublish|localdate }}</li>
					</ul>

					{% if record.heading %}
						<h1 class="reset-top">{{ record.heading }}</h1>
					{% elseif record.title %}
						<h1 class="reset-top">{{ record.title }}</h1>
					{% endif %}

					{% if record.intro %}
						<div class="layout-customcontent-intro">
							{{ record.intro }}
						</div>
					{% endif %}

					{% if record.body %}
						{{ record.body }}
					{% endif %}

					{% include 'partials/sharebuttons.twig' with {
						iconsonly: true,
						twitterhandle: person.twitter,
						title: record.title,
						summary: record.teaser
					} %}

				</div>
			</div>

		</div>
	</div>

{% endblock %}


