
{% macro display_menu_item(item, loop, level) %}

	<li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %} level-{{ level }}{% if item|current %} selected{% endif %}">

		<a href="{{ paths.root }}{{ item.path }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
		   class='button{% if item|current %} selected{% endif %}{% if item.class is defined %} {{ item.class }}{% endif %}'><strong>{{item.label}}</strong></a>

		{# Dropdown #}
		{% if item.submenu is defined %}
			<ul class="reset plain hidden">
				{% for submenu in item.submenu %}
					{{ _self.display_menu_item(submenu, loop) }}
				{% endfor %}
			</ul>
		{% endif %}

	</li>

{% endmacro %}

{% for item in menu %}
	{{ _self.display_menu_item(item, loop, 0) }}
{% endfor %}
