{% extends 'frames/marketing.twig' %}

{% block body %}

	{# Fetch content #}
	{% setcontent jobs = 'jobs' limit 200 orderby 'title' %}
	{% setcontent locations = 'locations' %}

	{# Header #}
	{% set headerstyling %}
		{% if page.headerbackgroundimage %}
			background-image: url({{ paths.files ~ page.headerbackgroundimage }});
		{% endif %}
	{% endset %}

	<div class="page-careers">
		<div class="row headerpad relative{% if headerstyling %} inverted background{% endif %}" style="{% if headerstyling %}{{ headerstyling }}{% endif %}">
			<div class="row-content buffer limit-small">

				<div class="align-center-over-tiny">

					{% if page.heading %}
						<h1>{{ page.heading }}</h1>
					{% endif %}

					{% if page.headercontent %}
						{{ page.headercontent|raw }}
					{% endif %}

					<p class="limit-tiny keep-center"><a href="#open" class="button blue round block align-center" data-action="scroll">Open positions</a></p>

				</div>
			</div>

			{% include 'partials/masks/white-bottom.twig' %}
		</div>

		{# Main content #}
		<div class="row">
			<div class="row-content buffer">

				<div class="align-center-over-small">

					<div class="column small-half smallmedium-half medium-third">
						{{ page.body1 }}
					</div>

					<div class="column small-half smallmedium-half small-last smallmedium-last medium-third">
						{{ page.body2 }}
					</div>

					<div class="column small-half smallmedium-half medium-third medium-last">
						{{ page.body3 }}
					</div>

					<div class="column small-half smallmedium-half small-last smallmedium-last medium-third medium-first">
						{{ page.body4 }}
					</div>

					<div class="column small-half smallmedium-half medium-third">
						{{ page.body5 }}
					</div>

					<div class="column small-half smallmedium-half small-last smallmedium-last medium-third medium-last">
						{{ page.body6 }}
					</div>

					<div class="clear"></div>
				</div>

			</div>
		</div>

		<div class="page-careers-jobs row inverted blue" id="open">
			<div class="row-content buffer">

				<div class="limit-small keep-center align-center-over-small">
					<h1>Open Positions</h1>
				</div>

				{% if jobs %}
					<div class="limit-medium keep-center buffer-bottom">
						{% include 'partials/jobgrid.twig' with { 'jobs': jobs } only %}
					</div>
				{% endif %}

				<div class="limit-small keep-center align-center-over-small">
					{% if page.intro %}
						{{ page.intro }}
					{% endif %}
				</div>

			</div>
		</div>

		<div class="page-careers-team row">
			<div class="row-content buffer">

				{% include 'partials/peoplegrid.twig' with { 'people': people } only %}

			</div>
		</div>

	</div>

{% endblock %}
