{% extends 'frames/support.twig' %}

{% block body %}

	{# Main content #}
	<div class="layout-supportarticle record-tool">

		<div class="row headerpad">
			<div class="row-content buffer">

				<div class="column smallmedium-nine right">

					<div class="layout-customcontent">
						<div class="layout-customcontent-section">

							<h1><img src="{{ image(tool.introimage) }}" alt="{{ tool.title }}" title="{{ tool.title }}"> {{ tool.title }}</h1>

							{% if tool.intro %}
								{{ tool.intro }}
							{% endif %}

							{% if tool.downloadurl is not empty %}
								<h2>Download</h2>
								<p>Latest version {{ tool.version }} released on {{ tool.released|localdate }}.</p>
								<p><a href="{{ tool.downloadurl }}" class="block button stroke round align-center">Download {{ tool.version }}</a></p>
							{% else %}
								<p class="discreet">Latest version {{ tool.version }} released on {{ tool.released|localdate }}.</p>
							{% endif %}

							{# {% include 'partials/sharebuttons.twig' with {
								twitterhandle: person.twitter,
								title: tool.title,
								summary: tool.teaser
							} %} #}

							{% if tool.body %}
								{{ tool.body }}
							{% endif %}

						</div>
					</div>

				</div>

				<div class="column smallmedium-three smallmedium-last buffer-top right hide-under-smallmedium">
					{{ menu('support', 'menus/supportfull.twig') }}
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</div>

{% endblock %}


