
{% macro display_menu_item(item, loop) %}

	<li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}"><a href="{{ paths.root }}{{ item.path }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
		   class='{% if item.class is defined %}{{item.class}}{% endif %}'>{{item.label}}</a></li>

{% endmacro %}

<ul class="menu-simple">
	{% for item in menu %}
		{{ _self.display_menu_item(item, loop) }}
	{% endfor %}
</ul>
