
{% macro display_menu_item(item, loop, level) %}
	{% spaceless %}

		{# Top-level #}
		{% if level < 1 %}

			{# Skip directly to children #}
			{% if item.submenu is defined %}
				{% for submenu in item.submenu %}
					{{ _self.display_menu_item(submenu, loop, (level + 1)) }}
				{% endfor %}
			{% endif %}

		{# Child-levels #}
		{% else %}
			{% set icon = false %}
			{% set badge = false %}

			{# FIXME: docs say I shouldn't have to do this #}
			{% setcontent itemrecord = item.path %}
			{% set itemslug = itemrecord.contenttype.singular_slug %}

			{% if level > 1 and itemslug == 'tool' %}
				{% if itemrecord.introimage is not empty %}
					{% set icon = itemrecord.introimage %}
				{% endif %}
				{% if itemrecord.released and date(itemrecord.released) > date('-7days') %}
					{% set badge = 'Updated' %}
				{% endif %}
			{% endif %}

			{# List item #}
			<li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %} level-{{ level }}{% if item|current %} selected{% endif %}{% if item.class is defined %} {{ item.class }}{% endif %}">

				{# Link #}
				<a href="{{ paths.root }}{{ item.path }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
				   class=''>{% if icon %}<span class="inline-block logo"><img src="{{ image(icon) }}" alt="{{ item.label }}" title="{{ item.label }}"></span>{% endif %}{{item.label}}{% if badge %}<span class="badge round inverted blue">{{ badge }}</span>{% endif %}</a>

				{# Children #}
				{% if item.submenu is defined %}
					<ul class="reset plain">
						{% for submenu in item.submenu %}
							{{ _self.display_menu_item(submenu, loop, (level + 1)) }}
						{% endfor %}
					</ul>
				{% endif %}

			</li>

		{% endif %}

	{% endspaceless %}
{% endmacro %}




<ul class="menu menu-supporthome plain">
	{% for item in menu %}
		{{ _self.display_menu_item(item, loop, 0) }}
	{% endfor %}
</ul>
<div class="clear"></div>
