{% extends 'frames/support.twig' %}

{% block body %}

	{# Setup #}
	{% setcontent guides = 'guides/' %}

	{% set headerstyling %}{% if page.headerbackgroundimage is not empty %}background-image: url({{ paths.files ~ page.headerbackgroundimage }});{% endif %}{% endset %}

	{# Header #}
	<div class="page-support">
		<div class="row headerpad verylightgrey{% if headerstyling %} background{% endif %}" style="{{ headerstyling }}">
			<div class="row-content buffer limit-small">

				<div class="page-support-intro align-center-over-tiny{% if headerstyling %} inverted{% endif %}">

					{% if page.heading %}
						<h1>{{ page.heading }}</h1>
					{% endif %}

					{% if page.headercontent %}
						{{ page.headercontent|raw }}
					{% endif %}

				</div>

				<div class="page-support-searchinput relative">
					{% include 'partials/support/search.twig' %}
				</div>

			</div>
		</div>

		{# Main content #}
		<div class="row">
			<div class="row-content buffer limit-small limit-smallmedium">

				<h2 class="align-center-over-tiny">Help Topics</h2>

				{# Custom content #}
				{% if page.intro %}
					{{ page.intro }}
				{% endif %}

				{# Guides menu #}
				{{ menu('support', 'menus/supporthome.twig') }}

				{# Custom content #}
				{% if page.body1 %}
					{{ page.body1 }}
				{% endif %}

			</div>
		</div>
	</div>

{% endblock %}
