
{% if not people %}
	{% setcontent people = 'people' %}
{% endif %}

{# People list #}
{% if people %}

	{% setcontent units = 'units' %}

	<div class="partial-peopletiles grid tiny-half small-third medium-fourth large-fifth">

		{% for person in people %}

			{% set unit = units[person.unit] %}

			{% set style %}
				background-image: url({{ image(person.image) }});
			{% endset %}

			<div class="grid-cell no-rhythm normalize-rhythm tight-rhythm">
				<a href="{{ person.link }}" class="block plain button relative" data-action="popup" style="{{ style }}">
					<div class="grid-cell-content transition tag verydarkgrey">
						<p>{{ person.title }}</p>
					</div>
					<div class="overlay transition"></div>
				</a>
			</div>

		{% endfor %}

		{# {{ pager() }} #}

	</div>

{% endif %}
