
{% if not people %}
	{% setcontent people = 'people' %}
{% endif %}

{# People list #}
{% if people %}

	{% setcontent units = 'units' %}

	<div class="template-contactgrid grid stroked small-half medium-half large-third">

		{% for person in people %}

			{% set unit = units[person.unit] %}

			<div class="template-contactgrid-person grid-cell">
				<div class="grid-cell-content">
					<div class="column fluid right">
						<div class="column-content no-rhythm normalize-rhythm tight-rhythm">
							<h3>{{ person.title }}</h3>
							<p>{{ person.position }}</p>
							<p><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
							{% if person.phone %}
								<p><a href="tel:{{ person.phone }}" class="plain">{{ person.phone }}</a></p>
							{% endif %}
						</div>
					</div>
					<div class="column fixed right">
						<a href="{{ person.link }}" class="plain"><img class="template-contactgrid-avatar avatar" src="{{ thumbnail(person.image, 120, 120) }}" alt="{{ person.title }}" title="{{ person.title }}"></a>
					</div>
					<div class="clear"></div>
				</div>
			</div>

		{% endfor %}

		{# {{ pager() }} #}

	</div>

{% endif %}
