
{% if not people %}
	{% setcontent people = 'people' %}
{% endif %}

{# People list #}
{% if people %}

	{% setcontent units = 'units' %}

	<div class="partial-contacttiles grid tiny-half small-third medium-fourth large-fifth">

		{% for person in people %}

			{% set unit = units[person.unit] %}

			{% set style %}
				background-image: url({{ image(person.image) }});
			{% endset %}

			<div class="grid-cell no-rhythm normalize-rhythm tight-rhythm">
				<div class="grid-cell-content verylightgrey transition">

					{# Pic #}
					<div class="partial-contacttiles-avatarcontainer relative">
						<div class="partial-contacttiles-avatarimage transition" style="{{ style }}"></div>
						<div class="overlay transition"></div>
					</div>

					<div class="buffer even no-rhythm normalize-rhythm tight-rhythm">

						{# Details #}
						<h3>{{ person.title }}</h3>

						<ul class="partial-contacttiles-details plain">
							{% if person.position %}
								<li>{{ person.position }}</li>
							{% endif %}
							{% if person.email %}
								<li><a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
							{% endif %}
							{% if person.phone %}
								<li><a href="tel:{{ person.phone }}" class="plain">{{ person.phone }}</a></li>
							{% endif %}
							{% if person.twitter is not empty %}
								<li><a href="https://twitter.com/{{ person.twitter }}" target="_blank">@{{ person.twitter }}</a></li>
							{% endif %}
						</ul>

					</div>

				</div>
			</div>

		{% endfor %}

		{# {{ pager() }} #}

	</div>

{% endif %}
