
{% if not people %}
	{% setcontent people = 'people' %}
{% endif %}

{# People list #}
{% if people %}

	{% setcontent units = 'units' %}

	<div class="partial-grid-people grid small-half medium-third large-third">

		{% for person in people %}

			{% setcontent posts = 'posts' where { author: person.id } %}
			{% set postcount = posts|length %}
			{% set unit = units[person.unit] %}

			<div class="partial-grid-people-person grid-cell">
				<a href="{{ person.link }}" data-action="popup" class="block plain button relative">
					<div class="column fluid right">
						<div class="column-content no-rhythm normalize-rhythm tight-rhythm">
							<h3>{{ person.title }}</h3>
							<p>{{ person.position }}</p>
						</div>
					</div>
					<div class="column fixed right">

						{% if postcount > 0 %}
							<span class="tag transition absolute block round {{ unit.colorname ? unit.colorname : 'verydarkgrey' }}">{{ postcount }}</span>
						{% endif %}

						<img class="partial-grid-people-avatar avatar" src="{{ thumbnail(person.image, 120, 120) }}" alt="{{ person.title }}" title="{{ person.title }}">
					</div>
					<div class="clear"></div>
				</a>
			</div>

		{% endfor %}

		{# {{ pager() }} #}

	</div>

{% endif %}
