
<h2>Page</h2>

{{ dump(page) }}

<h2>Record</h2>

{{ dump(record) }}

<h2>Records</h2>

{{ dump(records) }}

<h2>Paths</h2>

{{ dump(paths) }}

<h2>theme</h2>

{{ dump(theme) }}

<h2>app.config</h2>

{{ dump(app.config) }}
