
{# FIXME: could be set somewhere else #}
{% set ogtype = 'website' %}
{% set sitetitle = app.config.get('general/sitename') %}
{% set pagedescription = app.config.get('general/payoff') %}
{% set iconurl = 'images/icons/icon.png' %} {# PNG #}
{% set splashimageurl = 'images/splash/splash.jpg' %}



{# Adjustments #}
{% set pagetitle = sitetitle %}
{% set splashimageurl = paths.theme ~ splashimageurl %}

{# Splash images #}
{% if record %}

	{# Article type #}
	{% if record.contenttype.slug in ['posts', 'news'] %}
		{% set ogtype = 'article' %}
	{% endif %}

	{# Teaser text #}
	{% if record.teaser is not empty %}
		{% set pagedescription = record.teaser %}
	{% endif %}

	{# Splash image #}
	{% if record.splashimage is not empty %}
		{% set splashimageurl = paths.files ~ record.splashimage %}
	{% endif %}

	{# Record-specific title #}
	{% if record.title is not empty %}
		{% set pagetitle = record.title ~ ' - ' ~ pagetitle %}
	{% endif %}

{% endif %}

{# Adjustments #}
{% set splashimageurl = paths.hosturl ~ splashimageurl %}



{# The tags #}

{# Basics #}
<title>{{ pagetitle }}</title>
<meta name="application-name" content="{{ sitetitle }}">
<meta name="description" content="{{ pagedescription }}">

{# Open Graph (Facebook) #}
<meta property="og:site_name" content="{{ sitetitle }}">
<meta property="og:title" content="{{ pagetitle }}">
<meta property="og:description" content="{{ pagedescription }}">
<meta property="og:url" content="{{ paths.canonicalurl }}">
<meta property="og:image" content="{{ splashimageurl }}">
<meta property="og:app_id" content="{{ facebookappid }}">
<meta property="og:type" content="{{ ogtype }}">

{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ theme.config.services.twitter.username }}">
<meta name="twitter:title" content="{{ pagetitle }}">
<meta name="twitter:description" content="{{ pagedescription }}">
<meta name="twitter:image" content="{{ splashimageurl }}">

{# Main and alternative locales #}
<meta property="og:locale" content="{{ locale }}">
{% for loc in locales %}
	{% if loc != locale %}
		<meta property="og:locale:alternate" content="{{ loc }}">
	{% endif %}
{% endfor %}

{# If type allows, add author #}
{% if ogtype == 'article' %}
	<meta property="article:author" content="{{ facebookurl }}">
	<meta property="article:publisher" content="{{ facebookurl }}">
{% endif %}

{# Mobile platforms #}
<meta name="theme-color" content="#27a9e1">
<link rel="icon" href="{{ paths.theme }}{{ iconurl }}" type="image/png">
<link rel="apple-touch-icon" href="{{ paths.theme }}{{ iconurl }}">
<link rel="apple-touch-startup-image" href="{{ splashimageurl }}">
<meta name="msapplication-TileImage" content="{{ splashimageurl }}">
